@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-page">
    <h1 class="display-4" style="color: gold;">Welcome To Tha Pizza Partty!!!</h1>
    @* Need to add a create event button *@
    <br />
    <br />
    <input type="submit" value="Create Your Event!" class="btn btn-primary" style="color: red;" />
</div>
