@model PizzaPerson

<h2>Create a New Person</h2>

@using (Html.BeginForm("InsertPersonToDatabase", "Person", "Post"))
{
    <input asp-for="CustomerID" type="hidden" value="" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="" />
    <div class="form-group">
        <label for="">Select a Category</label>
        <select class="form-control" name="CategoryID" value="">
            @foreach (var cat in Model.Categories)
            {
                <option value="@cat.CustomerID">@cat.CustomerID @cat.Name</option>
            }
        </select>
    </div>

    <input type="submit" value="Create Product" class="btn btn-primary" />
}