@{
    ViewData["Title"] = "Privacy";
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.body.classList.add("privacy-page");
    });
</script>





<div class="text-center">
    <h1 class="display-4" style="color: gold;" </h1>
    
    <p>The only POLICY is: Enjoy your event, your team, and your Pizza Partty!!!</p>
</div>