@model Events

<h2>Update @Model.EventID</h2>

@using (Html.BeginForm("UpdateEventToDatabase", "Event", "Post"))
{
    <input asp-for="EventID" type="hidden" value="@Model.EventID" />

     

     <label asp-for="CustomerID" class="control-label">CustomerID</label>
    <input type="text" name="CustomerID" class="form-control" value="" />

    <label asp-for="EventTheme" class="control-label">EventTheme</label>
    <input type="text" name="EventTheme" class="form-control" value="@Model.EventTheme" />

    <label asp-for="EventSize" class="control-label">EventSize</label>
    <input type="number" name="EventSize" class="form-control" value="@Model.EventSize" />

    <br>
    <br>





    <input type="submit" value="Update Event" class="btn btn-primary" />

   
}
